[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Sergio Gutiérrez (SergioGutzB)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sergio Gutiérrez (SergioGutzB)
	label-Verified = -1..+1 group user/Sergio Gutiérrez (SergioGutzB)
	push = group user/Sergio Gutiérrez (SergioGutzB)
	read = group user/Sergio Gutiérrez (SergioGutzB)
	rebase = group user/Sergio Gutiérrez (SergioGutzB)
	removeReviewer = group user/Sergio Gutiérrez (SergioGutzB)
	submit = group user/Sergio Gutiérrez (SergioGutzB)
[access "refs/heads/*"]
	create = group user/Sergio Gutiérrez (SergioGutzB)
	push = +force group user/Sergio Gutiérrez (SergioGutzB)
	pushMerge = group user/Sergio Gutiérrez (SergioGutzB)
	read = group user/Sergio Gutiérrez (SergioGutzB)
[access "refs/tags/*"]
	push = group user/Sergio Gutiérrez (SergioGutzB)
	push = +force group user/Sergio Gutiérrez (SergioGutzB)
