<div ng-init="adultsInfo[$index].type='ADT'" class="container-passenger">
  <div class="row" id="traveler">
    <div class="col-xs-12 col-sm-6">
      <label>Nombre/s</label>
      <input ng-model="adultsInfo[$index].firstName" type="text" id="passanger_name" class="form-control" ng-pattern="validation.text" required>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label>Apellidos/s</label>
      <input ng-model="adultsInfo[$index].lastName" type="text" id="passanger_last_name" class="form-control" ng-pattern="validation.text" required>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-xs-12 col-sm-6">
      <label>C&eacute;dula/ID</label>
      <input ng-model="adultsInfo[$index].id" type="text" id="passanger_id" class="form-control" ng-pattern="validation.text" required>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label>Género</label>
      <select class="form-control" ng-model="adultsInfo[$index].gender" required id="passanger_gender" class="form-control">
				<option disabled value="" selected>Género</option>
				<option value="M">Masculino</option>
				<option value="F">Femenino</option>
      </select>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-xs-12 col-sm-6" id="passanger_birth">
      <div class="dob-container">
        <div class="col-xs-12">
          <label for="passenger_birth">Fecha de Nacimiento</label>
        </div>
        <div class="col-xs-12 col-sm-4">
          <select ng-model="adultsInfo[$index].yearBirth" class="form-control" required>
            <option disabled value="" selected>Año</option>
            <option ng-repeat="year in range(101)">[[1915 + year]]</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-4">
          <select ng-model="adultsInfo[$index].monthBirth" class="form-control" required>
            <option disabled value="" selected>Mes</option>
            <option ng-repeat="month in range(12)">[[month + 1]]</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-4" ng-init="dayIndex=$index">
          <select ng-model="adultsInfo[$index].dayBirth" class="form-control" required>
            <option disabled value="" selected>Dia</option>
            <option ng-repeat="day in pickDay(dayIndex,0)">[[day]]</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" ng-show="isAnInternationalFlight" ng-if="isAnInternationalFlight">
      <label>Pasaporte</label>
      <input ng-model="adultsInfo[$index].passport" type="text" id="passanger_passport" class="form-control" ng-pattern="validation.text" required>
    </div>
  </div>
</div>